<app-blank pageName="All Products" [routes]="['Products']">
  <app-section sectionTitle="Product List">
    <div class="form-group row">
      <div class="col-9">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#createModal"><i
            class="fa-solid fa-cart-plus"></i>Add Product</button>
      </div>
      <div class="col-3"><input [(ngModel)]="search" type="search" class="form-control" placeholder="Search..."></div>
    </div>
    <div class="form-group mt2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Type</th>
            <th>Transactions</th>
          </tr>
        </thead>
        <tbody>
          @for(product of products | product:search; track product){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.type.name}}</td>

            <td>
              <button data-toggle="modal" data-target="#updateModal" (click)="get(product)"
                class="btn btn-outline-primary btn-sm">
                <i class="fa fa-jedi"></i>
              </button>
              <button (click)="deleteById(product)" class="btn btn-outline-danger btn-sm">
                <i class="fa-brands fa-galactic-republic"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Product</h1>
        <button type="button" #createModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal"
          aria-label="Close">
          <i class="fa-brands fa-x-twitter"></i></button>
      </div>

      <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" required minlength="3" [(ngModel)]="createModel.name" class="form-control" name="name">
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Product Type</label>
            <select class="form-control" name="type" [(ngModel)]="createModel.typeValue" required>
              @for (type of types; track type) {
              <option [value]="type.value">{{type.name}}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" required min="0" [(ngModel)]="createModel.price" class="form-control" name="price">
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Quantity</label>
            <input type="number" required min="0" [(ngModel)]="createModel.quantity" class="form-control"
              name="quantity">
            <div class="invalid-feedback"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info w-100">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update Product</h1>
        <button type="button" #updateModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal"
          aria-label="Close">
          <i class="fa-brands fa-x-twitter"></i></button>
      </div>

      <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
        <div class="modal-body">

          <div class="form-group">
            <label>Product Name</label>
            <input type="text" required minlength="3" [(ngModel)]="updateModel.name" class="form-control"
              name="updateName">
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Product Type</label>
            <select class="form-control" name="updateType" [(ngModel)]="updateModel.typeValue" required>
              @for (type of types; track type) {
              <option [value]="type.value">{{type.name}}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" required min="0" [(ngModel)]="updateModel.price" class="form-control"
              name="updatePrice">
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>Quantity</label>
            <input type="number" required min="0" [(ngModel)]="updateModel.quantity" class="form-control"
              name="updateQuantity">
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-warning w-100">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>