.btn-outline-primary {
  margin-right: 10px;
}

.fa-folder-tree {
  margin-right: 5px;
}

.fa-plus {
  zoom: 120%;
}

/* Hide the arrows in input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

